body{
    background-color: #89ffe173;

}
.login{
    display: flex;
    min-width: 40rem;
    flex-direction: column;
    align-items: center;
    margin: 30rem;
    color: whitesmoke;
    background-color: rgb(13, 13, 59);
    padding: 0 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.446);
    p, label{
        font-size: 4rem;
        line-height: 7rem;
        padding: 2rem 0 1rem 0;
        padding: 0;
        margin: 0;
    }
    .input{
        width: 30rem;
        height: 4rem;
        padding: 0;
        margin: 0;
        text-align: center;
        border-radius: 2rem;
    }
}

.error{    
    display: flex;
    position: relative;
    width: 50rem;
    top: 25rem;
    justify-content: center;
    background-color: red;
    color: rgb(255, 255, 255);
    text-align: center;  
    margin: 0 auto;
    font-size: 2rem; 
    
}